.custom-link {
  color: #c51515;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.custom-link active {
  color: #dd6d0b;
  text-decoration: underline;
}

.custom-link:hover {
  color: #00a7fa;
  text-decoration: underline;
}
