.custom-link {
  color: #666;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.custom-link.active {
  color: #e67e22;
  text-decoration: underline;
}

.custom-link:hover {
  color: #3498db;
  text-decoration: underline;
}