

  h4 {
    text-align: left;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
  }
  .container-order {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    font-size: 18px;
  }
  .product-slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    font-size: 18px;
  }


.line{
  width: 100%;
  height: 10px;
  background-color: #000000;
  margin: 10px 0;
}

.order-number {
  margin: 15px 0;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}
.slider-btn {
  width: 80px;
  height: 3rem;
  color: aliceblue;
  background-color: #000000;
  border: 1px solid #ccc;
  font-size: 24px;
  padding: 8px 16px;
  border-radius: 10%;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin: 0 10px;

}

.slider-btn:hover {
  background-color: #616161;
}


.send-btn {
  background-color: #000000;
  border: 1px solid #ccc;
  font-size: 20px;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 10px;
  color: #00ff4c;
  width: 200px;
  height: 60px;
  transition: background-color 0.3s ease-in-out;
}
.send-btn:hover {
  background-color: #5a59597c;
}
.no-order{
  font-size: 24px;
  color: #000000;
  font-weight: bold;
}
.order-send {
  background-color: #000000;
  color: #00ff4c;
  padding: 10px;
  border-radius: 8px;
  font-size: 32px;
  text-align: center;
  margin: 10px auto;
 
}
@media (max-width: 768px) {
  .container-order {
    flex-direction: column;
    align-items: center;
  }
  .product-slider {
    flex-direction: column;
    align-items: center;
  }
  .slider-btn {
    width: 100%;
    margin: 10px 0;
  }
}