.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #000000;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .register-form h2 {
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  .register-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 20px;
  }
  
  .sing-up {
    width: 30%;
    padding: 10px 20px;
    background-color: #0c8be0;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
     margin: 10px;
  }
  
  .register-form button:hover {
    background-color: #2980b9;
   
  } 
  p{
    color: #ffffff;
  }
.sing-in{
    width: 20%;
  margin: 10px;
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}
.error-text{
  color: red;
}
.success {
  color: green;
  font-size: 30px;}